{:highlights [{:id #uuid "67ed4005-5936-4017-82e2-6f5bd38e310c",
               :page 1,
               :position {:bounding {:x1 72.34375,
                                     :y1 1004.515625,
                                     :x2 555.881591796875,
                                     :y2 1098.390625,
                                     :width 1152,
                                     :height 1565.858},
                          :rects ({:x1 529.0848388671875,
                                   :y1 1004.515625,
                                   :x2 555.53271484375,
                                   :y2 1026.515625,
                                   :width 1152,
                                   :height 1565.858}
                                  {:x1 72.34375,
                                   :y1 1028.46875,
                                   :x2 555.8693237304688,
                                   :y2 1050.46875,
                                   :width 1152,
                                   :height 1565.858}
                                  {:x1 72.34375,
                                   :y1 1052.4375,
                                   :x2 555.881591796875,
                                   :y2 1074.4375,
                                   :width 1152,
                                   :height 1565.858}
                                  {:x1 72.34375,
                                   :y1 1076.390625,
                                   :x2 117.34390258789062,
                                   :y2 1098.390625,
                                   :width 1152,
                                   :height 1565.858}),
                          :page 1},
               :content {:text "virtual clone of a physical living or nonliving entity that can exchange data and feedback between the real and digital world"},
               :properties {:color "green"}}
              {:id #uuid "67ed4bc0-df67-4358-8c64-aad6ef784a15",
               :page 1,
               :position {:bounding {:x1 77.15625,
                                     :y1 1173.671875,
                                     :x2 592.1696166992188,
                                     :y2 1223.21875,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 290.1282043457031,
                                   :y1 1173.671875,
                                   :x2 592.1696166992188,
                                   :y2 1197.671875,
                                   :width 1228.8,
                                   :height 1670.2485333333332}
                                  {:x1 77.15625,
                                   :y1 1199.21875,
                                   :x2 341.69805908203125,
                                   :y2 1223.21875,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 1},
               :content {:text "Internet of Things (IoT), Big Data, and Artificial Intelligence (AI) "},
               :properties {:color "green"}}
              {:id #uuid "67ed4bcc-91c7-418d-a181-16155f78d9cd",
               :page 1,
               :position {:bounding {:x1 211.4015350341797,
                                     :y1 1224.78125,
                                     :x2 442.373291015625,
                                     :y2 1248.78125,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 211.4015350341797,
                                   :y1 1224.78125,
                                   :x2 442.373291015625,
                                   :y2 1248.78125,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 1},
               :content {:text "ndustrial decision-making"},
               :properties {:color "green"}}
              {:id #uuid "67ed4bcf-f660-406d-876e-aa1586a90e3c",
               :page 1,
               :position {:bounding {:x1 453.7298583984375,
                                     :y1 1224.78125,
                                     :x2 586.860595703125,
                                     :y2 1248.78125,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 453.7298583984375,
                                   :y1 1224.78125,
                                   :x2 586.860595703125,
                                   :y2 1248.78125,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 1},
               :content {:text "virtual learning"},
               :properties {:color "green"}}
              {:id #uuid "67ed4bd3-a96b-4ae7-a887-b4d1219bfcba",
               :page 1,
               :position {:bounding {:x1 77.15625,
                                     :y1 1250.171875,
                                     :x2 164.6641387939453,
                                     :y2 1274.171875,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 77.15625,
                                   :y1 1250.171875,
                                   :x2 164.6641387939453,
                                   :y2 1274.171875,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 1},
               :content {:text "well-being"},
               :properties {:color "green"}}
              {:id #uuid "67ed4bdc-0755-4d7a-b9a9-f331780104de",
               :page 1,
               :position {:bounding {:x1 213.2732696533203,
                                     :y1 1250.171875,
                                     :x2 391.5639953613281,
                                     :y2 1274.171875,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 213.2732696533203,
                                   :y1 1250.171875,
                                   :x2 391.5639953613281,
                                   :y2 1274.171875,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 1},
               :content {:text "healthcare diagnosis"},
               :properties {:color "green"}}
              {:id #uuid "67ed4e23-4224-4b2b-95cd-89e687cea939",
               :page 2,
               :position {:bounding {:x1 77.15625,
                                     :y1 459.640625,
                                     :x2 592.5651245117188,
                                     :y2 534.59375,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 325.334716796875,
                                   :y1 459.640625,
                                   :x2 592.5651245117188,
                                   :y2 483.640625,
                                   :width 1228.8,
                                   :height 1670.2485333333332}
                                  {:x1 77.15625,
                                   :y1 485.03125,
                                   :x2 592.5411376953125,
                                   :y2 509.03125,
                                   :width 1228.8,
                                   :height 1670.2485333333332}
                                  {:x1 77.15625,
                                   :y1 510.59375,
                                   :x2 151.6143798828125,
                                   :y2 534.59375,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 2},
               :content {:text "investigate the current progress and trends in the adoption of technologies within the context of DTR,"},
               :properties {:color "red"}}
              {:id #uuid "67ed4e8b-1d50-4ecb-883b-f8d1bfeae188",
               :page 2,
               :position {:bounding {:x1 77.15625,
                                     :y1 510.59375,
                                     :x2 592.5426025390625,
                                     :y2 560.140625,
                                     :width 1228.8,
                                     :height 1670.2485333333332},
                          :rects ({:x1 366.6555480957031,
                                   :y1 510.59375,
                                   :x2 592.5426025390625,
                                   :y2 534.59375,
                                   :width 1228.8,
                                   :height 1670.2485333333332}
                                  {:x1 77.15625,
                                   :y1 536.140625,
                                   :x2 247.08485412597656,
                                   :y2 560.140625,
                                   :width 1228.8,
                                   :height 1670.2485333333332}),
                          :page 2},
               :content {:text "entifying the associated challenges and gaps"},
               :properties {:color "red"}}],
 :extra {:page 2}}
