{:highlights [{:id #uuid "67efe224-0497-4cee-b682-a697f6728f33",
               :page 2,
               :position {:bounding {:x1 130.546875,
                                     :y1 1077.4375,
                                     :x2 800.0441284179688,
                                     :y2 1139.328125,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 484.65228271484375,
                                   :y1 1077.4375,
                                   :x2 800.0441284179688,
                                   :y2 1107.4375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 130.546875,
                                   :y1 1109.328125,
                                   :x2 646.4653930664062,
                                   :y2 1139.328125,
                                   :width 1632,
                                   :height 2112}),
                          :page 2},
               :content {:text "Development of Datasets for Applications of Automated Driving in Railway"},
               :properties {:color "green"}}
              {:id #uuid "67efe33a-1d74-4361-ac06-9e488b6282b0",
               :page 2,
               :position {:bounding {:x1 130.546875,
                                     :y1 1501.953125,
                                     :x2 800.083740234375,
                                     :y2 1595.734375,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 157.15625,
                                   :y1 1501.953125,
                                   :x2 800.083740234375,
                                   :y2 1531.953125,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 130.546875,
                                   :y1 1533.84375,
                                   :x2 800.0347900390625,
                                   :y2 1563.84375,
                                   :width 1632,
                                   :height 2112}
                                  {:x1 130.546875,
                                   :y1 1565.734375,
                                   :x2 744.3587036132812,
                                   :y2 1595.734375,
                                   :width 1632,
                                   :height 2112}),
                          :page 2},
               :content {:text "Fully functional CV systems for collision prediction need to include algorithms for the following three sub tasks: obstacle detection, distance estimation, and track detectio"},
               :properties {:color "red"}}],
 :extra {:page 3}}
