{:highlights [{:id #uuid "67bf53f1-ea26-4cac-8056-cc348bd6559f",
               :page 1,
               :position {:bounding {:x1 557.5600852966309,
                                     :y1 462.82452392578125,
                                     :x2 929.4786033630371,
                                     :y2 498.8341369628906,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 576.9772605895996,
                                   :y1 462.82452392578125,
                                   :x2 929.4786033630371,
                                   :y2 479.7475891113281,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 557.5600852966309,
                                   :y1 481.91107177734375,
                                   :x2 580.8218650817871,
                                   :y2 498.8341369628906,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "ARTE (Automated Regional Trains in Lower Saxony)"},
               :properties {:color "green"}}
              {:id #uuid "67ea5146-1671-4634-8b78-e92e859b959f",
               :page 1,
               :position {:bounding {:x1 645.2868919372559,
                                     :y1 712.5841369628906,
                                     :x2 872.7082786560059,
                                     :y2 729.5072174072266,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 645.2868919372559,
                                   :y1 712.5841369628906,
                                   :x2 872.7082786560059,
                                   :y2 729.5072174072266,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "Automatic Train Operation (ATO)"},
               :properties {:color "green"}}
              {:id #uuid "67ea531c-3ed7-4cf5-80c9-aefb81b98055",
               :page 1,
               :position {:bounding {:x1 540.2043113708496,
                                     :y1 635.8293304443359,
                                     :x2 691.8769187927246,
                                     :y2 652.7524108886719,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 540.2043113708496,
                                   :y1 635.8293304443359,
                                   :x2 691.8769187927246,
                                   :y2 652.7524108886719,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "The project’s objectives"},
               :properties {:color "red"}}
              {:id #uuid "67ea5c2c-2b49-43b3-a696-b20e7fe6dc23",
               :page 4,
               :position {:bounding {:x1 514.9038352966309,
                                     :y1 271.5745379924774,
                                     :x2 828.8844871520996,
                                     :y2 288.4976031780243,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 514.9038352966309,
                                   :y1 271.5745379924774,
                                   :x2 828.8844871520996,
                                   :y2 288.4976031780243,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "The ATO system has been developed by Alstom"},
               :properties {:color "green"}}],
 :extra {:page 7}}
