{:highlights [{:id #uuid "67bf53f1-ea26-4cac-8056-cc348bd6559f",
               :page 1,
               :position {:bounding {:x1 557.5600852966309,
                                     :y1 462.82452392578125,
                                     :x2 929.4786033630371,
                                     :y2 498.8341369628906,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 576.9772605895996,
                                   :y1 462.82452392578125,
                                   :x2 929.4786033630371,
                                   :y2 479.7475891113281,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 557.5600852966309,
                                   :y1 481.91107177734375,
                                   :x2 580.8218650817871,
                                   :y2 498.8341369628906,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 1},
               :content {:text "ARTE (Automated Regional Trains in Lower Saxony)"},
               :properties {:color "green"}}],
 :extra {:page 1}}
